static/theme/accordion.html
static/theme/auth-normal-sign-in.html
static/theme/auth-sign-up.html
static/theme/breadcrumb.html
static/theme/bs-basic-table.html
static/theme/button.html
static/theme/chart.html
static/theme/color.html
static/theme/form-elements-component.html
static/theme/icon-themify.html
static/theme/index.html
static/theme/label-badge.html
static/theme/map-google.html
static/theme/notification.html
static/theme/progress-bar.html
static/theme/sample-page.html
static/theme/tabs.html
static/theme/tooltip.html
static/theme/typography.html
