{% extends 'base.html' %}
{% block title %}Home{% endblock %} 

{%block content %} 
<div class="container" >
    <div class="col-sm-4">
        <div class="input-group mb-3">
            <input type="file" class="form-control" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03" aria-label="Upload">
        </div>
        <input type="text" class="form-control" placeholder="discription" aria-label="discription" aria-describedby="basic-addon1">
        <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon03" style="height:100%">ok</button>
    </div>
    <div class="col-sm-8">
        
    </div>
</div>
{% endblock %}