{% extends 'base.html' %}
{% block title %}Profile{% endblock %} 

{%block content %} 
<h1>
    {{user.get_full_name }} (@{{ user.username}})
</h1>

{% with profile=user.profile %}
    {% if profile %}
    <div class=" d-flex row">

        <h2>
            {{ profile.Group|default:"" }}
        </h2>
        <div class="m-2">
            {{ profile.bio|default:"vide"}}
        </div>
        <div class="m-1">
            {{ user.email|default:"vide"}}
        </div>
        <div class="m-1">
            rights:
            {% for Rights in profile.Rights.all %}
            <span>
                {{ Rights.Details}}{% if not forloop.last %}<br/> {% endif %}
            </span>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endwith %}

{% endblock %}