{% extends 'base.html' %}
{% block title %}Home{% endblock %} 

{%block content %} 
<h1>
    Tableau de bord
</h1> 
Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ad consectetur, maiores, magni facilis quas repellat, odit minima quaerat numquam explicabo consequatur id? Iusto,
sapiente aliquid expedita vel ipsam rerum?
Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
Eveniet, esse commodi consequatur fugit corrupti culpa? Cu
piditate facilis vero minima nemo et sint sequi. Unde sequ
i, sit quasi dolor neque illo distinctio corporis adipisci
 voluptatibus doloremque, magnam dolores tenetur sed? Nisi
  exercitationem repellendus iure nihil! Animi rerum ratio
  ne saepe non quidem voluptatem reprehenderit atque nostr
  um dolore mollitia! Deleniti, ut dolor quas quaerat nequ
  e nesciunt voluptatibus corrupti ipsum impedit ipsam? Ex
  cepturi maiores nobis reiciendis optio voluptatibus rem 
  aut nihil nesciunt voluptatem, eos, culpa quos sapiente!
   Aliquam porro harum odio, accusantium neque esse eaque 
   ratione illum quia impedit qui delectus officia pariatu
   r dolorum labore repellendus perferendis saepe velit ex
   , quae eos aperiam! Exercitationem sint totam est volup
   tas maxime deserunt asperiores molestias quaerat obcaec
   ati. Voluptatibus sit voluptas debitis voluptatum totam
    inventore, nam veritatis laudantium, ea error expedita
     quis veniam amet accusamus qui reiciendis vitae place
     at voluptate nemo dolores? Soluta earum expedita dele
     niti eos odio natus repellendus vitae rerum veniam ve
     ro culpa quibusdam fugit ipsa, enim at quasi hic tene
     tur praesentium excepturi ullam dignissimos aut saepe
      officia ab! Adipisci, blanditiis. Debitis officia, c
      ulpa corrupti molestiae, soluta suscipit dolorum sed
       officiis, architecto omnis perferendis? Nobis adip
       sci amet unde beatae veritatis cum ducimus facere d
       olore magnam dicta. Autem non quos officia facere, 
       laborum architecto commodi, enim at fugit alias ape
       riam error. Laborum autem illo totam incidunt magni
        dicta sit quae ab rerum, omnis ea eum non iure? Sa
        epe unde vel at ducimus, sunt, animi vero quisquam
         officiis sed aliquid tenetur veritatis? Dicta cum
          enim reiciendis placeat accusantium repellat dig
          nissimos deleniti voluptatibus. Eligendi beatae 
          dicta, distinctio aliquid magni ex voluptatem la
          borum, minus atque placeat, quibusdam similique 
          dolorem quia? A ducimus saepe tempora eos aut qu
          o earum consequatur esse repudiandae pariatur te
          mporibus cum recusandae, dicta animi. Dignissimo
          s sit distinctio recusandae voluptatem consequun
          tur
 nimi ipsam! Necessitatibus est perferendis nostrum alias.
{% endblock %}